[Unit]
Description=Squid blocklist manager (Penguin)
After=network.target network-online.target nss-lookup.target

[Service]
Type=notify
PIDFile=/run/penguin.pid
User=penguin
Group=penguin
RuntimeDirectory=penguin
ExecStart=/opt/penguin/bin/penguin
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
NotifyAccess=all
StandardOutput=append:/opt/penguin/stdout.log
StandardError=append:/opt/penguin/stderr.log

[Install]
WantedBy=multi-user.target
